

:root{
--branding-color:#e797d8;
--secondary-color:aliceblue;
--third-color: grey;
--heading-font-family:'EB Garamond',
    serif;
 --default-font-family: 'Poppins',
        sans-serif; 
 --paragraph-font-size: 17px;           

}

body{

    font-family: var(--default-font-family);
    color:var(--secondary-color);
    background-color: var(--branding-color);
    
}

h1 h2 h3 h4 h5 h6 {
    color: aliceblue;
    font-family: var(--heading-font-family);
          
}

.hero{
    
    color:aliceblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;  
}

.hero h1 {
    font-size:70px;
    margin-bottom: 5%;
        
      
}
.hero h2{
    font-size: 90px;
    margin-bottom: 40px;
  
    font-weight: 500;
}
.hero h3{
    font-size:90px ;
    font-family: 'Playfair Display',
            serif;
     margin-top: 30px;    
      
        

}
.streety{
    border-radius: 5px;
    width: 100%;

}
.btn-secondary{
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 10px;
   
}
.btn-order{
    margin-bottom: 5px;
}
.showcooking{
    width: 102%;
    border-radius: 5px;

}
.wifirestaurant{
width: 90%;
border-radius: 5px;
}

.deliveryfood{
width: 90%;
border-radius: 5px;
}
.btn-secondary-contact{
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    background-color: gray;
    color: aliceblue;
    margin-left: 550px;
    margin-bottom:40px ;
}

.btn-secondary-menu{
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    background-color: gray;
    color: aliceblue;
    margin-right: 500px; 

}
.btn-secondary-wifi {
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    background-color: gray;
    color: aliceblue;
    margin-left: 200px;

}
.btn-secondary-delivery {
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border-style: solid;
    background-color: gray;
    color: aliceblue;
    margin-left: 200px;

}
.showdecription{
 font-size: var(--paragraph-font-size);
 text-align: justify;
    
}
.wifidecription{
    font-size: var(--paragraph-font-size);
}
.deliverydecription{
    font-size: var(--paragraph-font-size);
}
.titleshow{
    font-size:40px ;
    font-weight: bold;
    color:var(--third-color) ;
    text-align: center;
}
.titlewifi{
    font-size: 40px;
        font-weight: bold;
        color: var(--third-color);
        text-align: center;
}
.titledelivery{
    font-size: 40px;
        font-weight: bold;
        color: var(--third-color);
        text-align: center;
}

@media (max-width:960px){
.showdecription{
   text-align: justify;
}
.wifidecription {
    text-align: justify;
}
.delverydecription {
    text-align: justify;
}

.btn-secondary-menu{
    margin-left: 90px;
    margin-top: 90px;
}
.hero h1 {
    font-size: 50px;

}
.hero h2 {
    font-size: 50px;

}
.hero h3 {
    font-size: 50px;

}

.btn-secondary-wifi {

 margin-left: 116px;
 margin-top: 30px;

}
.btn-secondary-delivery {
margin-left: 110px;
margin-top: 30px;
}


}

.logostreety{
    max-width: 130px;
}
.navbar-grey{
    background-color: rgb(226, 200, 204);
}

.streetymenu{
    width: 550px;
    border-radius: 5px;
    margin-top: 70px;
}
.saladestreety{
    width: 550px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.crepestreety{
    width: 550px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.crepeicecream{
    width: 550px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.jusestreety{
        width: 550px;
         border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
}
.paninistreety{
        width: 550px;
        border-radius: 5px;
        margin-bottom: 20px;
}
.chikentreety{
    width: 550px;
    border-radius: 5px;
    margin-bottom: 20px;
}
p{
    text-align: center;
    font-size: 30px;
}
.logo{
    width: 300px;
    margin-left: 500px;
}
.clientstreety{
    width: 550px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.desciptionstory{
    margin-bottom: 20px;
    
}
.Stories{
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
}
.clientstreety{
    margin-top: 20px;
}
.Commitment{
margin-top: 150px;
    font-size: 25px;
    text-align: center;
}
.tittle{
    margin-bottom: 20px;
}
.Safety {
    margin-top: 150px;
    font-size: 25px;
    text-align: center;
}